<h1>List of Articles</h1>

<table>
  <thead>
    <th>Title</th>
    <th>Description</th>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
